*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff; /* Purple background */
  font-family: sans-serif;
  color: white; /* White text */
  size: 10px 10px;
  margin: 0;
}
.header > * {
  display: inline-block;
  vertical-align: middle;

}

a{
  border: solid 1px #fff;
  background-color: #FFFFFF; /* White button background */
  border: none; /* Remove default button border */
  padding: auto;
  border-radius: 13px; /* Rounded corners */
  cursor: pointer; /* Mouse pointer on hover */
  margin-right: 30px; /* Add some space between buttons */
}

.onde{
  border: solid 1px #fff;
  background-color: #FFFFFF; /* White button background */
  border: none; /* Remove default button border */
  padding: 10px 20px;
  border-radius: 13px; /* Rounded corners */
  cursor: pointer; /* Mouse pointer on hover */
  margin-right: 30px; /* Add some space between buttons */
}

.header {
  background-color:#5F3361;
  white-space: nowrap;
  position: absolute;
<<<<<<< HEAD
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* adjust the height to your needs */
  transform: translateZ(0); /* this is the key to keeping it on the same line */
  width: 100%;
  background-color: #B59DB6;
  border: none;
  box-shadow: 3px 2px 5px 2px #89768a;
  white-space: nowrap;
  margin-right: 10px;
  }

@viewport {
  width: device-width;
  zoom: 5;
=======
  max-width: max-content;
  display: inline-block;
  padding: 10px;
  align-items: center;
  text-align: left; /* Add this */
>>>>>>> 8ea5573f1dea28a41419b36b408b6ff73482c128
}

.search{
  display: inline-block;
  margin: 5px;
}

.barrapesquisar {
  margin-top: 5px;
  margin-left: 40px; /* Adjust this value */
  width: 300px;
  border: 1px solid #FFFFFF;
  border-radius: 13px;
  background-color: #ffffff;
  white-space: nowrap;
}

.pesquise {
  margin-right: 100px; /*distancia entre o pesquise e o logo */
  width: 250px; /* comprimento da caixa */
  padding: 8px; /* altura da caixa */
  border:  0px #ffffff; /* borda branca */
  border-radius: 13px; /* bordas*/
  background-color: #ffffff; /* fundo roxo claro */
  outline: none; /*remove a borda quando clica pra pesquisar*/
}

.lugar {
  margin-top: 5px;
  margin-left: 80px;
  background-color: #5F3361;
  padding: 8px;
  color: white;
  display: inline-block; /* Add this */
}

.login2{
  border: solid 1px #fff;
  background-color: #FFFFFF; /* White button background */
  border: none; /* Remove default button border */
  padding: 10px 20px;
  border-radius: 13px; /* Rounded corners */
  cursor: pointer; /* Mouse pointer on hover */
  margin-right: 30px; /* Add some space between buttons */
}

.login .login2 {
  padding: 8px;
  width: 100px;
  background-color: #fce4fc;
  display: inline-block; /* Add this */
}


.login .cadastrar {
  padding: 8px;
  background-color: #5F3361;
  border: 1px solid white;
  color: white;
  display: inline-block; /* Add this */
}

.logo {
  margin-left: 230px;
  margin-right: 600px; /*distancia entre o logo e o login */
}

#menuToggle{ /*menu hamburguer position fora */
  display: block;
  margin-top: 4px;
  margin-left: 30px;
  margin-right: 15px;
  top: 110px;
  left: px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{ /*letras do menu*/
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover{ /*letras quando passar mause menu*/
  color: #fce4fc;
}

#menuToggle input{ /*clicar no menu hamburguer*/
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 15px;
  top: 10px;
  left: 5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
} 

#menuToggle span{ /*menu hamburguer design fora*/
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle input:checked ~ span{ /*tranformaçao do = pro X */
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3){ /*tranformaçao do = pro X */
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){ /*tranformaçao do = pro X */
  transform: rotate(-45deg) translate(0, -1px);
}

#menu{ /* menu dentro do hamburguer design*/
  position: absolute;
  width: 170px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li{ /* letras dentro menu hamburguer*/
  padding: 10px 0;
  font-size: 22px;
  color: #5F3361;
}

#menuToggle input:checked ~ ul{ /* menu ligar*/
  transform: none;
}

.cabeçalho{
  width: 100%;
  background-color: #B59DB6;
  border: none;
  box-shadow: 3px 2px 5px 2px #89768a;

}

/*      SEÇÃO 2 - IMAGENS         */

.eventos24 {
float: left;
margin: 230px 20px;
width: 800px;
border: 1px solid #ddd;
border-radius: 10px;
overflow: hidden;
}

.eventos24 img {
width: 400px;
height: 240px;
object-fit: cover;
margin: 10px;
float: left;
}